<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" >
        <link href="Error.css" rel="stylesheet" type="text/css" />
        <title>MESSAGE</title>
    </head>
    <body>
        <div id="login">
            <!-- <h1>發生錯誤</h1> -->
            <h1>{{ message }}</h1> <!-- 區塊段落 -->
            <form action="/register">
                <button class="but">返回註冊</button><br/>
            </form>
            <form action="/">
                <button class="but">返回首頁</button>
            </form>
            <!-- <input class="but" type="button" value="返回首頁" onclick="location.href='/'"> -->
        </div>
    </body>
</html>