<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" >
        <link href="MMMembererror.css" rel="stylesheet" type="text/css" />
        <title>MESSAGE</title>
    </head>
    <body>
        <div id="login">
            <h1>{{ message }}</h1> <!-- 區塊段落 -->
            <h2>{{ Score }}</h2>
            <h2>{{ Time }}</h2>
            <h2>{{ Memery }}</h2>
            <form action="/goupload">
                <button class="but">返回上傳</button><br/>
            </form>
            <form action="/member">
                <button class="but">返回會員首頁</button>
            </form>
        </div>
    </body>
</html>